@import url(bootstrap.min.css);
@import url(all.min.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    color: #666666;
}

h1, h2, h3, h4, h5, h6, figure{
    margin: 0;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}

/*Style for Header*/

header .bg-light{
    background-color: #FFF !important;
}

header .navbar-light .navbar-nav .nav-link{
    color: #666666;
    text-transform: uppercase;
    padding: 0 1.5rem;
    border-right: 1px solid #666666;
    font-weight: bold;
}

header .navbar-light .navbar-nav .nav-item:last-child .nav-link{
    border: none;
}


/*Style for Banner*/

#banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
    margin-bottom: 5rem;
}

#banner h1{
    color: #FFF;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#banner p{
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
    padding-top: 20px;
    word-spacing: 0.3rem;
}

/*Style for About Lawyer Associates Section*/
#about-lawyer-associates .about-lawyer-associates-text{
    margin-top: 5rem;
    font-size: 3rem;
    color: #565656;
}

#about-lawyer-associates .about-lawyer-associates-text span{
    color: #000;
}

#about-lawyer-associates ul li{
    font-size: 1.2rem;
    color: #444444;
    font-weight: bold;
}

#about-lawyer-associates .col-8 p button{
    background: transparent;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    padding: 13px 40px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 180px;
    border: 1px solid #000000;
    text-transform: uppercase;
}

footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #444444;
    font-size: 1.2rem;
    color: #FFF;
}

/*Style for About Page*/
#about-lawyer-history .about-lawyer-associates-text{
    margin-top: 4rem;
    font-size: 3rem;
    color: #565656;
}

#about-lawyer-history .about-lawyer-associates-text span{
    color: #000;
}

#about-lawyer-history .col-8 p:nth-child(2){
    color: #000;
}

#about-lawyer-history .col-8 p button{
    background: transparent;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    padding: 13px 40px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 180px;
    border: 1px solid #000000;
    text-transform: uppercase;
}

/*Style for Lawyer Practice Area page*/

#about-lawyer-practice-area .container .practice-area-text{
    width: 53rem;
    margin: auto;
}

#about-lawyer-practice-area .practice-area-text h2{
    font-size: 2.7rem;
    color: #000;
    text-transform: uppercase;
}
#about-lawyer-practice-area .practice-area-text p{
    font-size: 0.88rem;
    color: #666666;
    line-height: 25px;
}

.practice-area .col-sm-1 p{
    color: #000;
}
.practice-area .col-sm-10 h3{
    color: #000;
}

.practice-area .col-sm-10 p{
    color: #444444;
    font-size: 0.95rem;
}


#about-lawyer-practice-area .practice-area .col-sm-1 p button {
    background: transparent;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    padding: 13px 40px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: 180px;
    border: 1px solid #000000;
    text-transform: uppercase;
}

/*Style for contact page*/
#contact-area .row .contact-heading{
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#contact-area .office-address li{
    color: #000000;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

#contact-area .office-address li span{
    display: inline-block;
    background-color: #adadad;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
}
#contact-area .office-address li .fa-li{
    left: -2.3rem;
}
